@use "sass:math";

@import "node_modules/sass-colors";

@import "sass/core";

.flexible-modal {
  $node: &;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: $z-index-modal;
  flex-direction: column;
  justify-content: center;
  transition: transform 0ms linear 0ms;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.35);
    content: ' ';
    display: block;
    transition: opacity 200ms ease-in-out 0ms, visibility 0ms linear 0ms;
  }

  &[aria-hidden=true] {
    transform: translateY(-100%);
    transition: transform 0ms linear 200ms;

    &::before {
      opacity: 0;
      visibility: hidden;
      transition: opacity 200ms ease-in-out 0ms, visibility 0ms linear 200ms;
    }
  }

  &__wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0;
    display: flex;
    padding: spacing('l');
    transition:
      opacity 200ms ease-in-out 0ms,
      visibility 0ms linear 0ms;

    #{$node}[aria-hidden=true] & {
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 200ms ease-in-out 0ms,
        visibility 0ms linear 200ms;
    }

    #{$node}--is-fullscreen & {
      overflow: hidden;
      padding: 0;
    }
  }

  &__panel {
    display: flex;
    max-width: $max-width--compact;
    flex-direction: column;
    margin: auto;
    transition: 200ms ease-in-out 50ms;
    transition-property: box-shadow, transform;
    width: 100%;
    padding: spacing('xl');

    #{$node}--will-shake & {
      animation: modal-shake 600ms linear;
    }

    #{$node}--aligns-from-top & {
      margin-top: 0;
      margin-bottom: auto;
      height: auto;
    }

    #{$node}--aligns-from-right & {
      margin-right: 0;
      margin-left: auto;
    }

    #{$node}--aligns-from-bottom & {
      margin-top: auto;
      margin-bottom: 0;
      height: auto;
    }

    #{$node}--aligns-from-left & {
      margin-right: auto;
      margin-left: 0;
    }

    #{$node}--aligns-from-right#{$node}--aligns-from-left & {
      margin-left: 0;
      margin-right: 0;
      max-width: none;
    }

    #{$node}--aligns-from-top#{$node}--aligns-from-bottom & {
      margin-top: 0;
      margin-bottom: 0;
    }

    #{$node}:not(#{$node}--is-fullscreen) & {
      padding: 0;
      border-radius: spacing('l');
      background-color: white;
      box-shadow: 0 spacing('xs') spacing('s') rgba(black, 0.4);
    }

    #{$node}:not(#{$node}--is-fullscreen) #{$node}__panel-header ~ & {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    // min-height: 100vh;
    // min-height: calc(100vh - env(safe-area-inset-bottom));
    // min-height: -webkit-fill-available;

    #{$node}--is-fullscreen & {
      padding: 0;
      height: 100%;
      border-radius: spacing('l');
      overflow: hidden;
      background-color: white;
      padding-bottom: 0;
      box-shadow: 0 0 spacing('s') rgba(black, 0.4);
    }

    #{$node}[aria-hidden=true] &,
    #{$node}--aligns-from-top[aria-hidden=true] & {
      box-shadow: none;
      transform: translateY(-5vh);
    }

    #{$node}--aligns-from-right[aria-hidden=true] & {
      transform: translateX(5vh);
    }

    #{$node}--aligns-from-left[aria-hidden=true] & {
      transform: translateX(-5vh);
    }

    #{$node}--aligns-from-top#{$node}--aligns-from-right#{$node}--aligns-from-left#{$node}--aligns-from-bottom[aria-hidden=true] & {
      transform: scale(0.95);
    }
  }

  &__panel-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(white, 0.95);
    padding: spacing('m') spacing('l');
    transition: 200ms ease-out 0ms;
    transition-property: padding margin;
    position: relative;
    border-bottom: solid spacing('pixel') rgba(color('shades', 'black'), 0.15);

    #{$node}:not(#{$node}--is-fullscreen) &--is-sticky,
    #{$node}--is-fullscreen &--has-overflow {
      border-color: transparent;
      box-shadow: 0 spacing('pixel') spacing('xs') rgba(black, 0.2);
    }

    #{$node}:not(#{$node}--is-fullscreen) & {
      position: sticky;
      border-radius: spacing('l') spacing('l') 0 0;
      padding-top: spacing('l');
      top: 0 - spacing('l');

      &:last-child {
        border-bottom-left-radius: spacing('l') spacing('l') 0 0;
        border-bottom-right-radius: spacing('l') spacing('l') 0 0;
      }
    }

    &::before {
      display: block;
      content: " ";
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &__panel-footer {
    display: flex;
    padding: spacing('m') spacing('l');
    border-top: solid spacing('pixel') rgba(color('shades', 'black'), 0.15);
    background-color: rgba(black, 0.05);

    #{$node}:not(#{$node}--is-fullscreen) & {
      border-radius: 0 0 spacing('l') spacing('l');

      &:only-child {
        border-top: 0;
        border-top-left-radius: spacing('l');
        border-bottom-left-radius: spacing('l');
      }
    }
  }

  &__panel-header-slot {
    margin: 0 auto;
    text-align: center;
    padding: 0 spacing('m');
  }

  &__panel-header-title {
    font-weight: 700;
    font-family: $initial-font-family;
  }

  &__panel-content {
    padding: spacing('l');

    #{$node}--is-fullscreen & {
      flex-grow: 1;
      overflow: auto;
      // margin-bottom: spacing('l');
    }
  }

  &__close {
    flex-shrink: 0;
    display: flex;
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    appearance: none;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include focus-ring();

    &::before,
    &::after {
      display: block;
      content: " ";
      background-color: currentColor;
      width: 0.125rem;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -25%;
      margin-left: -0.0625rem;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:focus,
    &:active {
      &::before,
      &::after {
        outline: none;
      }
    }
  }

  &__close-label {
    @include visually-hidden;
  }
}


@keyframes modal-shake {
  8%,
  41% {
    transform: translateX(-1em);
  }

  25%,
  58% {
    transform: translateX(1em);
  }

  75% {
    transform: translateX(-0.5em);
  }

  92% {
    transform: translateX(0.5em);
  }

  0%,
  100% {
    transform: translateX(0);
  }
}
